.header{
    padding-top:1em;
    height:6em;
}

.pull-right{
    float:right !important;
}

.pull-left{
    float:left !important;
}

/* Logo */
.logo, .navbar{
    display: inline-block;
}

.logo{
    width:25%;
}

.logo-a{
    min-height: 5em;
}

/*hamburger menu*/
.navbar-toggler-icon{
    color:black !important;
}

/*nav menu links*/
.header ul.navbar-nav>li>a {
    color: #1a3560;
}

.header ul.navbar-nav>li>a.active,
.header ul.navbar-nav>li>a:hover {
    background: #ffda3d;
    color: #1a3560;
}

@media (min-width: 1000px){
    .navbar-expand-lg .navbar-nav .nav-link {
        padding: .5rem 1rem;
    }
}

/* Footer */
.footer{
    background: url('/images/tru-footer-graph3.png') no-repeat center bottom;
    padding: 95px 0px 0px 0px;
}

.copyright_info{
    float: left;
    padding: 30px 0px 25px 0px;
    margin: 70px 0px 0px 0px;
    width: 100%;
    color: #727272;
    font-size: 12px;
    font-style: normal;
    font-weight: normal;
}

ul.address-ul{
    float: left;
    list-style: none;
    padding-left:0;
}

.footer h4{
    color: #ffda3d;
}

.footer p, .footer a{
    color: white;
}

.copyright-info{
    margin-top: 6em;
    padding-top: 2em;
    padding-bottom: 2em;
}

.copyright-info, .copyright-info a{
    background: white;
    color: #999;
    font-size: 12px;
}

/*Slider*/
div.slider{
    width:100%;
    height:20%;
    max-height:1400px;
}

.carousel-indicators li{
    background-color: black;
}

/*Home - Second Section*/
.second-section-home{
    background-color: #193560;
    padding-top: 7.5em;
    padding-bottom: 7.5em;
}

.second-section-home img{
    width: 2.5em;
    height: 2.5em;
}

.second-section-home .title h3{
    width: 10em;
    display: inline-block;
    color: white;
}

.second-section-home .content{
    margin-left: 2.5em;
    color: white;
}

.margin_top7 {
    width: 100%;
    margin-top: 70px;
}